body {
  background: #f4f4f4;
  font-family: 'Lato', sans-serif;
  color: #6D6E71;
}
a {
  text-decoration: none;
  color: #334D5C;
  font-family: 'Athiti', sans-serif;
  font-size: 1.4em;
}
p {
  font-size: 1.4em;
  font-style: italic;
  line-height: 1.5em;
}
section {
  min-height: 100vh;
}
.italic {
  font-style: italic;
  letter-spacing: 0.2em;
}

/* Header */

.main-header {
  height: 125px;
  background-color: white;
  width: 100%;
  position: absolute;
}
#logo-header {
  margin-top: 25px;
  margin-left: 2em;
  width: 75px;
  height: 75px;
}
nav {
  margin-top: 25px;
  margin-right: 2em;
  display: inline: block;
  float: right;
}

/* Bio Section */

.bio-section {
  margin-right: 2em;
  margin-left: 2em;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  font-size: 2em;
  line-height: 2em;
}
h2 {
  font-size: 1.6em;
  line-height: 1.5em;
}
h3 {
  font-size: 1.4em;
  line-height: 1.8em;
}

/* Project List */

.projects-section {
  background-color: white;
}
.projects-header {
  padding: 3em;
}
.projects-section-container {
  padding: 2em;
}
.projects {
  margin-top: 2em;
  padding: 1em;
  /*background-color: #f4f4f4;*/
}
.project-title {
  font-weight: 900;
}
.project-link {
  color: #DF4949;
  padding-top: auto;
}

/* Timeline */

.timeline-year {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  margin-bottom: -3em;
}
.timeline-header {
  margin-top: 4em;
  margin-bottom: 2em;
}
.horizontal-line {
  width: 50%;
  height: 2px;
  background-color: #757575;
}
.blue-year, .red-year {
  height: 80px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  padding-top: 20px;
  color: #FFFFFF;
  text-align: center;
  margin-left: auto;
}
.red-year {
  background-color: #DF4949;
}
.blue-year {
  background-color: #334D5C;
}
.timeline-card {
  margin: 2em 5em 2em 2em;
  padding: 1em;
}
.education h2, .education h3 {
  color: #DF4949;
}
.work-experience h2, .work-experience h3 {
  color: #334D5C;
}

/* Contact form */

.contact-section {
  max-height: 90vh;
  background-color: #334D5C;
  position: relative;
  text-align: center;
}
.contact-form {
  max-width: 500px;
  margin: auto;
  padding-top: 100px;
  /*border: 1px solid blue;*/
}
form {
  max-width: 500px;
  font-family: 'Lato', sans-serif;
  top: 200px;
}
legend {
  padding: 10px 0 10px 0;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: white;
}
label {
  display: block;
  color: #E6E6E5;
  font-family: 'Lato', sans-serif;
}
input {
  height: 40px;
  width: 65%;
  background-color: #2D4553;
  border: none;
  margin: 15px auto 0 auto;
  color: #92FFF7;
  font-family: 'Lato', sans-serif;
  font-size: 1.2em;
}
input:focus {
  background-color: #B73535;
}
button {
  border: 2px solid #92FFF7;
  background: none;
  color: white;
  width: 120px;
  font-size: 1.2em;
  padding: 5px 20px 5px 20px;
  font-family: 'Lato', sans-serif;
  margin: 20px auto;
}
button:hover {
  border-color: #B73535;
}

/* Footer */

footer {
  background: white;
  height: 100px;
  text-align: center;
}
.footer-icons {
  height: 50px;
  width: 50px;
  margin-top: 25px;
  display: inline-block;
}
@media (min-width: 40em) {
  /* HEADER */
  .main-header {
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0px;
    z-index: 1000;
  }
  header li {
    display: inline-block;
    float: right;
    height: 50px;
    padding: 0px 20px 0px 20px;
    margin-top: 30px;
    text-align: center;
    font-family: 'Athiti', sans-serif;
  }
  header li a:hover {
    color: #92FFF7;
  }
  /* BIO */
  .bio-section article {
    max-width: 600px;
  }
  /* PROJECTS */
  .projects-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .projects {
    display: inline-block;
    width: 200px;
  }
  /* Timeline */
  .timeline-year {
    display: block;
    text-align: center;
    margin-bottom: 0em;
  }
  .horizontal-line {
    width: 0;
    height: 0;
  }
  .timeline-card-container {
    text-align: center;
  }
  .timeline-card {
    display: inline-block;
    max-width: 400px;
    margin: 2em 2em 2em 2em;
  }
}
